<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home' %}">RecipeShare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:favorites' %}">Favorites</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              Notifications
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for notification in user.notifications.all|dictsortreversed:"created_at"|slice:":5" %}
                <li><a class="dropdown-item" href="{{ notification.url }}">{{ notification.message }}</a></li>
              {% empty %}
                <li><span class="dropdown-item">No notifications</span></li>
              {% endfor %}
              <li><a class="dropdown-item" href="{% url 'home:notifications' %}">See all</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
